@import "../styles/lib";

.Form {
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 10rem 5rem 10rem;
    background-color: $white;
    box-shadow: 0 2px 2.1rem $light-grey;
    &__question-container {
      display: flex;
      flex-direction: column;
    }

    &__errorMessage {
      font-size: 14px;
      text-align: left;
      margin: -16px 10px 2px 2px;
      font-style: red;
      color: red;
    }
  
    &__question {
      margin-top: 2rem;
      margin-bottom: 0.7rem;
      font-weight: 600;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    &__input {
      padding: 5px;
      margin-bottom: 20px;
    }
  
    &__button {
      text-align: center;
    }

    &__radio-position {
      display: inline-grid;
      width: 100px;
    }
  
    &__button-submit {
      background-color: $accent-color;
      cursor: pointer;
      color: $white;
      font-size: 2.2rem;
      margin-top: 4rem;
      padding: 0.7rem;
      border: none;
      width: 60%;
      transition: all 0.3s;
      position: relative;
      top: 0px;
      left: 0px;
      &:hover {
        background-color: $accent-color-hover;
        box-shadow: 2px 2px 0px $white, 4px 4px 0px $accent-color-hover, 5px 5px 0px $accent-color-hover;
        top: -4px;
        left: -4px;
      }
  
    }
  }



  @media only screen and (max-width: 780px) {
    .Form {
      margin: 0 5%;
      padding: 3rem 2rem;
      font-size: 16px;

      &__question {
        font-size: 1rem;
      }

      &__button-submit {
        font-size: 1.2rem;
        margin-top: 4rem;
      }
    }
   
  }

@media only screen and (min-width: 781px) {
  .Form {
    margin: 0 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .Form {
    margin: 0 auto;
  }
}